{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div class="container-fluid" style="margin-top: 1%; ">
    <div class="row">
      <div class="col-2" id="v-pill-nav">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          {% if mixed %}
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"  onclick="location.href='{{url_for('mixed_by_me')}}'" >Mixed By Dayngerous</a>
          {% else %}
            <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"  onclick="location.href='{{url_for('mixed_by_me')}}'" >Mixed By Dayngerous</a>
          {% endif %}
          
          {% if songs %}
            <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" onclick="location.href='{{url_for('songs_by_me')}}'">Songs By Dayngerous</a>
          {% else %}
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" onclick="location.href='{{url_for('songs_by_me')}}'">Songs By Dayngerous</a>
          {% endif %}

          {% if prods %}
            <a class="nav-link active" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" onclick="location.href='{{url_for('prod_by_me')}}'">Prod By Dayngerous</a>
          {% else %}
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" onclick="location.href='{{url_for('prod_by_me')}}'">Prod By Dayngerous</a>
          {% endif %}
        </div>
      </div>

      <div class="col-sm" style="padding:2%;">
        {% if items %}
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">{% include "Discog/base.html" %}</div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">{% include "Discog/base.html" %}</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">{% include "Discog/base.html" %}</div>
        </div>
        {% else%}
          {% block message %} <h1>{{message}}</h1> {% endblock %}
        {% endif %}
      </div>
    </div>
</div>

{% endblock %}
